
<mat-card class="process-card">
  <mat-card-header>
    <mat-card-title>{{edit ? 'Editar Processo' : 'Novo Processo'}}</mat-card-title>
    <mat-card-subtitle *ngIf="edit">ID: {{process.id}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="process-content">
    <form [formGroup]="processForm" (ngSubmit)="saveProcess()" novalidate>
      <mat-slide-toggle formControlName="active" color="primary">Ativo</mat-slide-toggle>
      <mat-form-field appearance="fill">
        <mat-label>Número do Processo</mat-label>
        <input matInput formControlName="processNumber">
        <mat-error *ngIf="validFields('processNumber')">Número do Processo está inválido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Estado (Sigla)</mat-label>
        <input matInput formControlName="state" maxlength="2">
        <mat-error *ngIf="validFields('state')">O estado digitado está inválido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Valor</mat-label>
        <input matInput formControlName="monetaryValue" type="number">
        <mat-error *ngIf="validFields('monetaryValue')">O valor digitado está inválido</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Data de Início</mat-label>
        <input matInput formControlName="startDate" type="date">
        <mat-error *ngIf="validFields('startDate')">A data digitada está inválida</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Nome do Cliente</mat-label>
        <mat-select formControlName="clientId">
          <mat-option *ngFor="let client of clients" [value]="client.id">
            {{client.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="validFields('clientName')">O valor digitado está inválido</mat-error>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="saveProcess()" [disabled]="!processForm.valid">Criar</button>
    <button mat-raised-button color="secondary" (click)="goToHome()">Cancelar e Voltar</button>
    <button mat-raised-button color="primary" (click)="showModal()"><span class="material-icons">add</span> Adicionar Novo Cliente</button>
  </mat-card-actions>
</mat-card>

