.mat-table {
  width: 100%;
}

.align-center {
  text-align: center;
}

.dropdown {
  display: inline-block;
}

.material-icons {
  font-size: 19px;
}

.inputs {
  border: none;
  text-decoration: none;
}

.mat-card {
  margin-top: 10px;
  margin-bottom: 10px;
}
